

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    box-sizing: border-box;
    overflow-x: hidden;
}

/* /SECTION 1/ */

.spherebuild{
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section1{
    height: 400vh;
    background-image: linear-gradient(to top, #64ddff 0%, #30d2ff 100%);
}


.introduction h1{
    font-size: 60px;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.introduction p{
    font-size: 15px;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* // */
.quote h1{
    font-size: 30px;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quote p{
    font-size: 15px;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 153%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.build h1{
    font-size: 30px;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 250%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* // */
.explanation p{
    font-size: 15px;
    color: white;
    margin: 0;
    padding: 0;
    text-align: center;
    position: absolute;
    top: 350%;
    left: 50%;
    transform: translate(-50%, -50%);
}




/* comparison image section  */

.comparisonSection {
    position: relative;
    padding-bottom: 56.25%; /* to maintain aspect ratio (responsive!) */
}

.comparisonImage {
    width: 100%;
    height: 100%;
}

.afterImage {
    position: absolute;
    overflow: hidden;
    top: 0;
    transform: translate(100%, 0px);
}


.afterImage img {
    transform: translate(-100%, 0px);
  
}

.comparisonImage img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}


/* /SECTION 2/ */

.section2{
    height: 300vh;
    background-image: linear-gradient(to top, #ffc929 0%, #64ddff 10%, #64ddff 25%, #64ddff 38%, #64ddff 50%, #64ddff 62%, #64ddff 75%, #64ddff 87%, #64ddff);
}

.process p{
    font-size: 15px;
    color: white;
    margin: 0;
    /* padding: 2%; */
    text-align: center;
    position: absolute;
    top: 725%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.conceptual p{
    font-size: 15px;
    color: white;
    margin: 0;
    /* padding: 2%; */
    text-align: center;
    position: absolute;
    top: 825%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.conclusion h1{
    font-size: 30px;
    color: white;
    margin: 0;
    padding: 2%;
    text-align: center;
    position: absolute;
    top: 921%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.conclusion p{
    font-size: 15px;
    color: white;
    margin: 0;
    padding: 4%;
    text-align: center;
    position: absolute;
    top: 928%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* LIFT RAFT SPHERE IMAGE */

.life-raft-sphere img{
    height: 300px;
}









